@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PHOTOSHARE</h1>
    <p>Your private Album web application where you can upload and store your photos.</p>
    <p></p>
    <p>You will be able to share your albums or photos with other registered users.</p>
    </div>
