@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PHOTOSHARE</h1>
    <p>Your private Album space where to upload and store your favourite and special photos.</p>
    <p></p>
    <p>You will be able to share your albums with other registered users.</p>
    <img class="img-fluid" src="~/image/Collage.jpg" alt="Albums">

</div>
